<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="methodNameResolver_statistics" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
 		<property name="mappings">
 			<props>
 			<prop key="/statistics/statistics.do">getGuCd</prop>
			</props>
 		</property>
 	</bean> 	
 	
 	<bean id="urlMapping_statistics" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
 		<property name="mappings">
 			<props>
 			<prop key="/statistics/statistics.do">statControl</prop>
 			</props>
 		</property>
 	</bean>

	<bean id="statControl" class="main.java.statisticst.web.StatControl">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_statistics"/></property>
		<property name="userRegService" ref="userRegService"/>	
		<property name="commonCodeService" ref="commonCodeService"/>	
	</bean>

</beans>
