<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="methodNameResolver_facility_Gigan" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
 		<property name="mappings">
 			<props>
				<prop key="/facility/gigan/search.do">Search</prop>
				<prop key="/facility/gigan/view.do">View</prop>
				<prop key="/facility/gigan/view_ilgwal.do">View_Ilgwal</prop>
				
				<prop key="/facility/gigan/jumin_view.do">Jumin_View</prop>
				
				<prop key="/facility/gigan/jumji_view.do">Jumji_View</prop>
				
				<prop key="/facility/gigan/gigan_view.do">Gigan_View</prop>
				<prop key="/facility/gigan/gigan_register.do">Gigan_Register</prop>
				
				<prop key="/facility/gigan/ilgwal_view.do">Ilgwal_View</prop>
				
				<prop key="/facility/gigan/annae_view.do">Annae_View</prop>
				<prop key="/facility/gigan/annae_print.do">Annae_Print</prop>
				<prop key="/facility/gigan/annae_all_print.do">Annae_All_Print</prop>
				
				<prop key="/facility/gigan/giganilgwal_view.do">GiganIlgwal_View</prop>
				<prop key="/facility/gigan/giganilgwal_ext.do">GiganIlgwal_Ext</prop>
			</props>
 		</property>
 	</bean>
 	
 	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
 		<property name="mappings">
 			<props>
				<prop key="/facility/gigan/search.do">facility_giganControl</prop>
				<prop key="/facility/gigan/view.do">facility_giganControl</prop>
				<prop key="/facility/gigan/view_ilgwal.do">facility_giganControl</prop>
				
				<prop key="/facility/gigan/jumin_view.do">facility_giganControl_Jumin</prop>
				
				<prop key="/facility/gigan/jumji_view.do">facility_giganControl_Jumji</prop>

				<prop key="/facility/gigan/gigan_view.do">facility_giganControl_Gigan</prop>
				<prop key="/facility/gigan/gigan_register.do">facility_giganControl_Gigan</prop>
				
				<prop key="/facility/gigan/ilgwal_view.do">facility_giganControl_Ilgwal</prop>
				
				<prop key="/facility/gigan/annae_view.do">facility_giganControl_Annae</prop>
				<prop key="/facility/gigan/annae_print.do">facility_giganControl_Annae</prop>
				<prop key="/facility/gigan/annae_all_print.do">facility_giganControl_Annae</prop>
				
				<prop key="/facility/gigan/giganilgwal_view.do">facility_giganControl_GiganIlgwal</prop>
				<prop key="/facility/gigan/giganilgwal_ext.do">facility_giganControl_GiganIlgwal</prop>
 			</props>
 		</property>
 	</bean>
 	

	<bean id="facility_giganControl" class="main.java.facility.gigan.web.GiganControl">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_Jumin" class="main.java.facility.gigan.web.TabJumin_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_Jumji" class="main.java.facility.gigan.web.TabJumji_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_Gigan" class="main.java.facility.gigan.web.TabGigan_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_Ilgwal" class="main.java.facility.gigan.web.TabIlgwal_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_Annae" class="main.java.facility.gigan.web.TabAnnae_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	<bean id="facility_giganControl_GiganIlgwal" class="main.java.facility.gigan.web.TabGiganIlgwal_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_facility_Gigan"/></property>
		<property name="facility_giganService" ref="facility_giganService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>
	
	
 	<bean id="facility_giganService" class="main.java.facility.gigan.service.GiganService">
 		<property name="facility_giganDao" ref="facility_giganDao"/>
 	</bean>
 	<bean id="facility_giganDao" parent="roadsJdbcDaoSupport" class="main.java.facility.gigan.dao.GiganDao"/>
 
</beans>
