<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="methodNameResolver_Facility_Junggiinfo" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
 		<property name="mappings">
 			<props>
				<prop key="/facility/junggiinfo/minwon_view.do">Minwon_View</prop>
				<prop key="/facility/junggiinfo/minwon_view_search.do">Minwon_View_Search</prop>
				<prop key="/facility/junggiinfo/minwon_modify.do">Minwon_Modify</prop>
				<prop key="/facility/junggiinfo/minwon_modify_prc.do">Minwon_Modify_Prc</prop>
<!-- 
				<prop key="/facility/junggiinfo/minwon_register.do">Minwon_Register</prop>
				<prop key="/facility/junggiinfo/minwon_register_prc.do">Minwon_Register_Prc</prop>
-->			
				<prop key="/facility/junggiinfo/jumin_view.do">Jumin_View</prop>
				<prop key="/facility/junggiinfo/jumin_modify.do">Jumin_Modify</prop>
				<prop key="/facility/junggiinfo/jumin_modify_prc.do">Jumin_Modify_Prc</prop>
				
				<prop key="/facility/junggiinfo/jumji_view.do">Jumji_View</prop>
				<prop key="/facility/junggiinfo/jumji_modify.do">Jumji_Modify</prop>
				<prop key="/facility/junggiinfo/jumji_modify_prc.do">Jumji_Modify_Prc</prop>
				<prop key="/facility/junggiinfo/jumji_register.do">Jumji_Register</prop>
				<prop key="/facility/junggiinfo/jumji_register_prc.do">Jumji_Register_Prc</prop>
			</props>
 		</property>
 	</bean>

 	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
 		<property name="mappings">
 			<props>
				<prop key="/facility/junggiinfo/minwon_view.do">facility_junggiinfoControl_minwon</prop>
				<prop key="/facility/junggiinfo/minwon_view_search.do">facility_junggiinfoControl_minwon</prop>
				<prop key="/facility/junggiinfo/minwon_modify.do">facility_junggiinfoControl_minwon</prop>
				<prop key="/facility/junggiinfo/minwon_modify_prc.do">facility_junggiinfoControl_minwon</prop>
<!--
				<prop key="/facility/junggiinfo/minwon_register.do">facility_junggiinfoControl_minwon</prop>
				<prop key="/facility/junggiinfo/minwon_register_prc.do">facility_junggiinfoControl_minwon</prop>
-->
				<prop key="/facility/junggiinfo/jumin_view.do">facility_junggiinfoControl_jumin</prop>
				<prop key="/facility/junggiinfo/jumin_modify.do">facility_junggiinfoControl_jumin</prop>
				<prop key="/facility/junggiinfo/jumin_modify_prc.do">facility_junggiinfoControl_jumin</prop>
								
				<prop key="/facility/junggiinfo/jumji_view.do">facility_junggiinfoControl_jumji</prop>
				<prop key="/facility/junggiinfo/jumji_modify.do">facility_junggiinfoControl_jumji</prop>
				<prop key="/facility/junggiinfo/jumji_modify_prc.do">facility_junggiinfoControl_jumji</prop>
				<prop key="/facility/junggiinfo/jumji_register.do">facility_junggiinfoControl_jumji</prop>
				<prop key="/facility/junggiinfo/jumji_register_prc.do">facility_junggiinfoControl_jumji</prop>
 			</props>
 		</property>
 	</bean>
 	
	<bean id="facility_junggiinfoControl" class="main.java.facility.junggiinfo.web.JunggiinfoControl">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_Facility_Junggiinfo"/></property>
		<property name="facility_junggiinfoService" ref="facility_junggiinfoService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>

	<bean id="facility_junggiinfoControl_minwon" class="main.java.facility.junggiinfo.web.TabJunggi_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_Facility_Junggiinfo"/></property>
		<property name="facility_junggiinfoService" ref="facility_junggiinfoService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>	

	<bean id="facility_junggiinfoControl_jumin" class="main.java.facility.junggiinfo.web.TabJumin_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_Facility_Junggiinfo"/></property>
		<property name="facility_junggiinfoService" ref="facility_junggiinfoService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>

	<bean id="facility_junggiinfoControl_jumji" class="main.java.facility.junggiinfo.web.TabJumji_Control">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_Facility_Junggiinfo"/></property>
		<property name="facility_junggiinfoService" ref="facility_junggiinfoService"/>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>

 	<bean id="facility_junggiinfoService" class="main.java.facility.junggiinfo.service.JunggiinfoService">
 		<property name="facility_junggiinfoDao" ref="facility_junggiinfoDao"/>
 	</bean>
 	<bean id="facility_junggiinfoDao" parent="roadsJdbcDaoSupport" class="main.java.facility.junggiinfo.dao.JunggiinfoDao"/>
 	
</beans>
